# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dev\Estudo\Building a RESTful Web Service with Spring\9781785285714_code\B04788_Code\B04788_02_code\B04788_02_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
